.tweet {
    border: 1px solid #ccc;
    width: 564px;
    min-width: 68px;
    padding: 10px;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-right: 10px;
}
.name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}
.handle {
    color: #8899a6;
    font-style: 13px;
}
.time {
    padding-left: 0.3em;
    color: #8899a6;
}
.time::before {
    content: "\00b7";
    padding-right: 0.3em;
}
.buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-style: 1.4em;
    color: #aab8c2;
}
.reply-button, .retweet-button,
.like-button, .more-options-button {
    width: 80px;
    display: inline-block;
}
.like-count, .retweet-count {
    position: relative;
    bottom: 2px;
    font-size: 13px;
    margin-left: 6px;
    font-weight: bold;
}